.main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  font-family: serif;
}

.main > h1 {
  padding: 30px 0;
  margin: auto;
}

.users {
  width: 25%;
}
